* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

.container {
    max-width: 1142px;
    margin: auto;
}

.header-border {
    border-bottom: solid 1px #ececec;
}

.header-medium {
    display: flex;
    align-items: center;
    padding: 25px 0px 22px 0px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 27px;
    font-weight: 300;
    text-decoration: none;
    color: #222222;
}

.logo-img {
    margin-right: 12px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    padding-left: 37px;
}

.search {
    display: flex;
    border: solid 1px #e6e6e6;
    font-size: 14px;
    height: 38px;
}

.browse {
    background: linear-gradient(to top, #f9f9f9, #f5f5f5);
    padding: 0px 8px 0px 14px;
    border-right: solid 1px #e6e6e6;
}

.arrow {
    margin-left: 8px;
}

.sch-item {
    padding: 0px 15px;
    width: 280px;
    border: none;
    outline: none;
}

.search-button {
    padding: 0px 11px;
    border-left: solid 1px #e6e6e6;
}

.acc {
    padding: 13px 12px 11px 19px;
    background-color: #f16d7f;
    color: #ffffff;
    margin-left: 26px;
}

.profile {
    align-items: center;
    display: flex;
    align-items: flex-end;
}

.profile>a {
    display: flex;
}

.menu-content {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu-list {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    text-transform: uppercase;
    padding-top: 19px;
    padding-bottom: 22px;
}

.menu-list:not(:last-of-type) {
    padding-right: 45px;
}

.banner {
    background: url('img/man.png') no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 224px 0px 297px;
}

.brand {
    position: relative;
    padding-left: 26px;
}

.brand::before {
    position: absolute;
    content: '';
    display: block;
    width: 12px;
    background-color: #f16d7f;
    left: 0px;
    top: 10px;
    bottom: 6px;
}

.brand-style-1 {
    font-weight: 900;
    font-size: 60px;
    letter-spacing: 1.5px;
}

.brand-style-2 {
    font-size: 40px;
    letter-spacing: 1px;
}

.red {
    color: #f16d7f;
}

.news {
    display: flex;
    padding-top: 98px;
    padding-bottom: 100px;
    justify-content: space-between;
}

.news-column {
    width: calc(50% - 10px);
}

.news-banner {
    position: relative;
}

.news-banner>img {
    width: 100%;
}

.news-banner:not(:last-child) {
    margin-bottom: 17px;
}

.news-info {
    position: absolute;
    top: 26px;
    z-index: 1;
    background: #ffffff;
    padding: 16px 18px;
    display: flex;
    flex-direction: column;
    font-weight: 900;
    text-transform: uppercase;
}

.news-low-text {
    font-size: 18px;
    letter-spacing: 0.45px;
}

.news-high-text {
    font-size: 30px;
    letter-spacing: 0.75px;
}

.fetured-items {
    text-align: center;
    padding-bottom: 113px;
}

.items-heading {
    font-size: 30px;
    font-weight: bold;
}

.items-low-text {
    font-size: 14px;
    color: #9f9f9f;
    display: inline-block;
    padding-bottom: 60px;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: center;
}

.items-card {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 39px;
}

.items-card:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.items-info {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 19px 15px 21px 15px;
    height: 84px;
    justify-content: space-between;
}

.items-text {
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(34, 34, 34);
}

.price {
    font-size: 16px;
    font-weight: bold;
}

.items-hover-buy {
    position: absolute;
    background-color: rgba(58, 56, 56, 0.831);
    top: 0;
    left: 0;
    right: 0;
    bottom: 87px;
    display: none;
    padding: 98px 66px 144px 66px;
}

.items-card:hover .items-hover-buy {
    display: block;
}

.buy-item {
    padding: 10px 13px 7px 12px;
    border: solid 1px #ffffff;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.buy-item>img {
    margin-right: 8px;
}

.scroll-items {
    padding: 16px 19px 17px 24px;
    background-color: #f16d7f;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    align-items: center;
    margin: auto;
}

.scroll-items>img {
    margin-left: 9px;
}

.info {
    display: flex;
    background: url(img/offer.png) no-repeat;
    height: 529px;
}

.info-ad {
    padding: 146px 0px 298px 39px;
    flex-grow: 1;
}

.info-ad>h2 {
    font-size: 53.5px;
    letter-spacing: 1.34px;
    font-weight: bold;
    color: #ffffff;
}

.info-ad>span {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.8px;
    color: #ffffff;
}

.info-list {
    background-color: #222224;
    width: 33%;
    padding: 48px 43px 66px 31px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.info-items {
    display: flex;
}

.info-img {
    margin-right: 30px;
}

.info-text {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
}

.info-heading {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #fbfbfb;
    margin-bottom: 17px;
}

.info-small-text {
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 1.71;
    color: #fbfbfb;
}

.reviews {
    background: url(img/surfer.png) no-repeat;
    margin-top: 97px;
}

.reviews-content {
    display: flex;
}

.reviews-items {
    width: 50%;
    display: flex;
    align-items: flex-start;
    padding: 111px 0px 156px 0px;
    border-right: solid 1px #e3e3e3;
}

.reviews-items>img {
    margin-right: 28px;
}

.reviews-text {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    padding-right: 73px;
}

.reviews-text>p {
    margin-bottom: 19px;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 0.4px;
    color: #222224;
}

.reviews-text>.red {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.4px;
}

.autor-small-text {
    font-size: 12px;
    letter-spacing: 0.3px;
}

.scroll-reviews {
    margin-top: 29px;
}

.scroll-button {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
}

.scroll-button:not(:last-child) {
    margin-right: 13px;
}

.scroll-button:hover {
    background-color: #f16d7f;
}

.active {
    background-color: #f16d7f;
}

.subscription {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 37px;
    text-align: center;
    padding: 148px 0px 152px 0px;
}

.sub-heading {
    font-size: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.sub-small-text {
    font-size: 14px;
    letter-spacing: 0.35px;
    margin-bottom: 33px;
}

.sub-form {
    display: flex;
    justify-content: center;
    height: 46px;
}

.sub-form>input {
    border-radius: 23px 0px 0px 23px;
    background-color: #e1e1e1;
    padding-left: 28px;
    outline: none;
    border: none;
    width: 334px;
}

.sub-form>button {
    font-size: 14px;
    color: #ffffff;
    padding: 0px 20px;
    background-color: #f16d7f;
    border-radius: 0px 23px 23px 0px;
}

.general-info {
    padding: 109px 0px 89px 0px;
    display: flex
}

.brand-info {
    display: flex;
    flex-direction: column;
    width: 38%;
    margin-right: 64px;
}

.brand-info>p {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    color: #898989;
    padding-top: 29px;
    line-height: 1.71;
}

.navigation {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding-top: 11px;
}

.nav-info {
    display: flex;
    flex-direction: column;
}

.nav-info>span {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.45px;
    text-transform: uppercase;
    color: #f16d7f;
    margin-bottom: 45px;
}

.nav-info>a {
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #898989;
    text-decoration: none;
}

.nav-info>a:not(:last-child) {
    margin-bottom: 24px;
}

footer {
    background-color: #e6e6e6;
}

.copyright {
    display: flex;
    justify-content: space-between;
    padding: 32px 0px 33px 0px;
    align-items: center;
}

.copyright>span {
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #7a7a7a;
}

.links {
    display: flex;
}

.links-item {
    width: 32px;
    height: 32px;
    display: block;
}

.links-item:not(:last-child) {
    margin-right: 7px;
}

.fs {
    background: url('img/facebook.png') no-repeat;
    background-position: center center;
    background-color: #ffffff;
}

.tw {
    background: url('img/twitter.png') no-repeat;
    background-position: center center;
    background-color: #f16d7f;
}

.in {
    background: url('img/in.png') no-repeat;
    background-position: center center;
    background-color: #eeeeee;
}

.pntrs {
    background: url('img/pinterest.png') no-repeat;
    background-position: center center;
    background-color: #ffffff;
}

.gl {
    background: url('img/google.png') no-repeat;
    background-position: center center;
    background-color: #ffffff;
}